.aboutMe {
    width: 100%;
    min-height: 100vh;
    background-color: #526D82;
}

.aboutMe .container .myName .paragraph{
    color: #DDE6ED;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.aboutMe .container .myName .mySchool{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutMe .container .myName .mySchool .img_school{
    width: 550px;
    height: 500px;
    background: url(./public/imgs/mySchool.webp);
    background-repeat: no-repeat;
    margin-top: 30px;
    background-size: contain;
    border-radius: 10px;
}
.aboutMe .container .myName .mySchool .img_mySchool{
    width: 550px;
    height: 500px;
    background: url(./public/imgs/school.webp);
    background-repeat: no-repeat;
    margin-top: 30px;
    background-size: contain;
    border-radius: 10px;
}
.aboutMe .container .myName .institut{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
    gap: 50px;
}
.aboutMe .container .myName .institut .myInstitut_first_img{
    width: 500px;
    height: 400px;
    background: url(./public/imgs/institut.webp);
    background-repeat: no-repeat;
    margin-top: 30px;
    background-size: contain;
    border-radius: 10px;
}
.aboutMe .container .myName .institut .myInstitut_second_img{
    width: 500px;
    height: 400px;
    background: url(./public/imgs/myInstitut.webp);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    margin-top: 30px;
}
.aboutMe .container .myName .institut .myInstitut_threeth_img{
    width: 500px;
    height: 400px;
    background: url(./public/imgs/institute.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    background-size: contain;
    border-radius: 10px;
}